@font-face {
    font-family: 'Georgia';
    src: url('fonts/Georgia.eot');
    src: url('fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('fonts/Georgia.woff2') format('woff2'),
    url('fonts/Georgia.woff') format('woff'),
    url('fonts/Georgia.ttf') format('truetype'),
    url('fonts/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia-Italic';
    src: url('fonts/Georgia-Italic.eot');
    src: url('fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Georgia-Italic.woff2') format('woff2'),
    url('fonts/Georgia-Italic.woff') format('woff'),
    url('fonts/Georgia-Italic.ttf') format('truetype'),
    url('fonts/Georgia-Italic.svg#Georgia-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black   ; /* MUST BE DELETED */
    border: 2px solid #242424;
}
/*START HEADER */
.header-wrapper {
    min-width: 940px;
    height: 386px; /* ??? */
    outline: 1px solid gold;
    background: url("img/bg1.png")repeat;
    border-bottom: 2px solid #202020;

}
.main-header {
    width: 940px;
    outline: 1px dashed red;
    margin: 0 auto;
    height: 386px; /* ???? */
}
.intro-text {
    font-family: Georgia-Italic, serif;
    font-size: 18px;
    color: #9B9B9B;
    font-weight: 300;
    margin-top: 47px; /* НЕ ПОЙМУ ПОЧЕМУ НЕ MARGIN TOP?? И ЕСЛИ ДЕЛАЮ MARGIN ТО НАЧИНАЕТ ЕХАТЬ .HEADER_WRAPPER */
    letter-spacing: .3px;
    float: left;
}
.soc-btns {
    float: right;
    list-style: none;
    margin-top: 47px;
}
.soc-btns__item {
    display: inline-block;
    margin-right: 13px;
}
.soc-btns__item:last-of-type {
    margin-right: 0;
}
.soc-btns__link {
    background-image: url('img/sprites.png');
    display: block;
}

/* START SOC-BTNS ICONS */
.twitter-ico{
    background-position: 0 -468px ;
    width: 15px;
    height: 15px;
}
.fb-ico{
    background-position: 0 -336px ;
    width: 8px;
    height: 17px;
}
.v-ico{
    background-position: 0 -402px ;
    width: 13px;
    height: 15px;
}
.be-ico{
    background-position: 0 -299px;
    width: 18px;
    height: 17px;
}
.globe-ico{
    background-position: 0 -171px;
    width: 16px;
    height: 20px;
}
/*END SOC-BTNS ICONS */
.slider-wrapper {
    height: 406px;
    outline: 1px solid white;
    width: 940px;
    background-color: pink;
    clear: both;
    position: relative;
    top: 49px;
    z-index: 100;
    
}
.space {
    min-width: 960px;
    background-color: #1F1F1F;
    outline: 1px dashed green;
    height: 50px;
}
.radio-wrapper {
    margin: 0 auto;
    outline: 1px solid red;
    background: white;
    width: 300px;
}
.description-wrapper {
    min-width: 940px;
    font-family: "Georgia", serif;
    color: #9B9B9B;/* написал color родителю, а не всем h2 h1 по очереди. Так можно? */ 
    height: 600px;/* must be del */
    outline: 1px dashed yellow;
}
.description {
    width: 940px;
    outline: 1px dashed pink;
    margin: 0 auto;
    height: 600px; /*must be del */

}
.description__welcome-text {
    font-size: 25px;
    text-align: center;
    padding-top: 148px; /*почему HE margin-top, a padding-top? */
    font-weight: 200;
}
.description__title {
    text-align: center;
    font-size: 62px;
    margin-top: 11px;
    font-weight: 200;
}
.description__text-block {
      display: inline-block;
  outline: 1px solid red;
  margin-top: 57px;
  margin-right: 49px;
  width: 278px;
}
.description__text-block:last-of-type {
    margin-right: 0;
}
.description__block-title1, .description__block-title2, .description__block-title3 {
    font-size: 20px;
  letter-spacing: 0.9px;
  font-weight: 100;
}
.description__block-title1:before, .description__block-title2:before, .description__block-title3:before {
content: "";
  background-image: url("img/sprites.png");
  display: inline-block;
  margin-left: 3px;
  margin-right: 12px;

}
.description__block-title1:before {
     background-position: 0 -432px;
    width: 16px;
    height: 15px;
}

.description__block-title2:before {
      background-position: 0 -137px;
      width: 16px;
      height: 19px;
}
.description__block-title3:before {
      background-position: 0 -107px;
    width: 16px;
    height: 16px;
}

.description__text {
    margin-top: 13px;
  font-size: 14.5px;
  font-weight: 100;
  line-height: 22px;
  word-wrap: break-word;
}