@font-face {
    font-family: 'Georgia';
    src: url('fonts/Georgia.eot');
    src: url('fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('fonts/Georgia.woff2') format('woff2'),
    url('fonts/Georgia.woff') format('woff'),
    url('fonts/Georgia.ttf') format('truetype'),
    url('fonts/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia-Italic';
    src: url('fonts/Georgia-Italic.eot');
    src: url('fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Georgia-Italic.woff2') format('woff2'),
    url('fonts/Georgia-Italic.woff') format('woff'),
    url('fonts/Georgia-Italic.ttf') format('truetype'),
    url('fonts/Georgia-Italic.svg#Georgia-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black   ; /* MUST BE DELETED */
    border: 2px solid #242424;
}
/*START HEADER */
.header-wrapper {
    min-width: 940px;
    height: 386px; /* ??? */
    outline: 1px solid gold;
    background: url("img/bg1.png")repeat;
    border-bottom: 2px solid #202020;

}
.main-header {
    width: 940px;
    outline: 1px dashed red;
    margin: 0 auto;
    height: 386px; /* ???? */
}
.intro-text {
    font-family: Georgia-Italic, serif;
    font-size: 18px;
    color: #9B9B9B;
    font-weight: 300;
    margin-top: 47px; /* НЕ ПОЙМУ ПОЧЕМУ НЕ MARGIN TOP?? И ЕСЛИ ДЕЛАЮ MARGIN ТО НАЧИНАЕТ ЕХАТЬ .HEADER_WRAPPER */
    letter-spacing: .3px;
    float: left;
}
.soc-btns {
    float: right;
    list-style: none;
    margin-top: 47px;
}
.soc-btns__item {
    display: inline-block;
    margin-right: 13px;
}
.soc-btns__item:last-of-type {
    margin-right: 0;
}
.soc-btns__link {
    background-image: url('img/sprites.png');
    display: block;
}

/* START SOC-BTNS ICONS */
.twitter-ico{
    background-position: 0 -468px ;
    width: 15px;
    height: 15px;
}
.fb-ico{
    background-position: 0 -336px ;
    width: 8px;
    height: 17px;
}
.v-ico{
    background-position: 0 -402px ;
    width: 13px;
    height: 15px;
}
.be-ico{
    background-position: 0 -299px;
    width: 18px;
    height: 17px;
}
.globe-ico{
    background-position: 0 -171px;
    width: 16px;
    height: 20px;
}
/*END SOC-BTNS ICONS */
.slider-wrapper {
    height: 400px;
    outline: 1px solid white;
    width: 940px;
    background-color: pink;
    
}
.space {
    min-width: 960px;
    background-color: #1F1F1F;
    outline: 1px dashed green;
    height: 50px;
}
.clearfix {
    clear: both;
}