@font-face {
    font-family: 'Georgia';
    src: url('fonts/Georgia.eot');
    src: url('fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('fonts/Georgia.woff2') format('woff2'),
    url('fonts/Georgia.woff') format('woff'),
    url('fonts/Georgia.ttf') format('truetype'),
    url('fonts/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia-Italic';
    src: url('fonts/Georgia-Italic.eot');
    src: url('fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Georgia-Italic.woff2') format('woff2'),
    url('fonts/Georgia-Italic.woff') format('woff'),
    url('fonts/Georgia-Italic.ttf') format('truetype'),
    url('fonts/Georgia-Italic.svg#Georgia-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black   ; /* MUST BE DELETED */
    border: 2px solid #242424;
}
/*START HEADER */
.header-wrapper {
    min-width: 940px;
    height: 386px; /* ??? */
    background: url("img/bg1.png")repeat;
    border-bottom: 2px solid #202020;

}
.main-header {
    width: 940px;
    margin: 0 auto;
    height: 386px; /* ???? */
}
.intro-text {
    font-family: Georgia-Italic, serif;
    font-size: 18px;
    color: #9B9B9B;
    font-weight: 300;
    margin-top: 47px; /* НЕ ПОЙМУ ПОЧЕМУ НЕ MARGIN TOP?? И ЕСЛИ ДЕЛАЮ MARGIN ТО НАЧИНАЕТ ЕХАТЬ .HEADER_WRAPPER */
    letter-spacing: .3px;
    float: left;
}
.soc-btns {
    float: right;
    list-style: none;
    margin-top: 47px;
}
.soc-btns__item {
    display: inline-block;
    margin-right: 13px;
}
.soc-btns__item:last-of-type {
    margin-right: 0;
}
.soc-btns__link {
    background-image: url('img/sprites.png');
    display: block;
}

/* START SOC-BTNS ICONS */
.twitter-ico{
    background-position: 0 -468px ;
    width: 15px;
    height: 15px;
}
.fb-ico{
    background-position: 0 -336px ;
    width: 8px;
    height: 17px;
}
.v-ico{
    background-position: 0 -402px ;
    width: 13px;
    height: 15px;
}
.be-ico{
    background-position: 0 -299px;
    width: 18px;
    height: 17px;
}
.globe-ico{
    background-position: 0 -171px;
    width: 16px;
    height: 20px;
}
/*END SOC-BTNS ICONS */
.slider-wrapper {
    height: 406px;
    width: 940px;
    background-color: darkslategrey;
    clear: both;
    position: relative;
    top: 49px;
    z-index: 100;
    
}
.space {
    min-width: 960px;
    background-color: #1F1F1F;
    height: 27px;
}
.radio-wrapper {
    margin: 0 auto;
    outline: 1px solid red;
    background: white;
    width: 300px;
}
.description-wrapper {
    min-width: 940px;
    font-family: "Georgia", serif;
    background-color: #202020;
    color: #9B9B9B;/* написал color родителю, а не всем h2 h1 по очереди. Так можно? */ 
    height: 615px;/* must be del */
}
.description {
    width: 940px;
    margin: 0 auto;
    height: 600px; /*must be del */

}
.description__welcome-text {
    font-size: 25px;
    text-align: center;
    padding-top: 170px; /*почему HE margin-top, a padding-top? */
    font-weight: 200;
}
.description__title {
    text-align: center;
    font-size: 62px;
    margin-top: 11px;
    font-weight: 200;
}
.description__text-block {
      display: inline-block;
  margin-top: 57px;
  margin-right: 49px;
  width: 278px;
}
.description__text-block:last-of-type {
    margin-right: 0;
}
.description__block-title1, .description__block-title2, .description__block-title3 {
    font-size: 20px;
  letter-spacing: 0.9px;
  font-weight: 100;
}
.description__block-title1:before, .description__block-title2:before, .description__block-title3:before {
content: "";
  background-image: url("img/sprites.png");
  display: inline-block;
  margin-left: 3px;
  margin-right: 12px;

}
.description__block-title1:before {
     background-position: 0 -432px;
    width: 16px;
    height: 15px;
}

.description__block-title2:before {
      background-position: 0 -137px;
      width: 16px;
      height: 19px;
}
.description__block-title3:before {
      background-position: 0 -107px;
    width: 16px;
    height: 16px;
}

.description__text {
    margin-top: 13px;
  font-size: 14.5px;
  font-weight: 100;
  line-height: 22px;
  word-wrap: break-word;
}
.portfolio-wrapper {
    background: url("img/bg1.png")repeat;
    min-width: 940px;
}
.portfolio {
    width: 940px;
    margin: 0 auto;
    height: 763px;/*must be del */
}
.imgs-wrapper {
    width: 50%;/*must be del */
    height: 675px;
    padding-top: 66px; /* почему padding а не margin??? */
}
.imgs-wrapper__img {
    display: inline-block;
    margin-right: 5px;
    margin-top: 8px;
}
.contacts-wrapper {
    outline: 1px solid aquamarine;
    background-color: #202020;
    height: 500px;/* MBD */
    min-width: 940px;
}
.contacts {
    width: 940px;
    height: 500px;/*MBD */
    outline: 1px dashed brown;
    margin: 0 auto;
}
.form {
    outline: 1px solid blue;
    width: 50%;
    height: 500px;
    padding-top: 48px; /*чего паддинг а не margin? */
}
.form [type="text"] {
    background-color: #282828;
  border: none;
  background-repeat: no-repeat;
  padding: 15px 0 15px 44px;
  width: 456px;
  font-size: 16px;
  font-family: "Georgia", serif;
  font-style: italic;
  margin-bottom: 21px;
 }
.form__user-ico {
  background-position: 15px 15px;
  background-image: url("img/user-ico.png");

}
.form__mail-ico {
    background-position: 15px 15px;
  background-image: url("img/mail-ico.png");
}
.form__globe-ico {
    background-position: 15px 15px;
  background-image: url("img/globe-ico.png");
}
.form [type="textarea"] {
      background-color: #282828;
  border: none;
  padding: 15px 0 15px 0;
  width: 456px;
  height: 157px;
  font-size: 16px;
  font-family: "Georgia", serif;
  font-style: italic;
}