.slider-nav-btn-left, .twitter-ico, .user-ico, .v-ico, .ball-ico, .be-ico, .fb-ico, .globe-ico, .mail-ico, .quote-ico, .radio-active, .radio-passive, .settings-ico, .slider-nav-btn{
	background: url(sprites.png) no-repeat;
}

.slider-nav-btn-left{
	background-position: 0 -48px ;
	width: 35px;
	height: 35px;
}

.twitter-ico{
	background-position: 0 -468px ;
	width: 15px;
	height: 12px;
}

.user-ico{
	background-position: 0 -432px ;
	width: 16px;
	height: 15px;
}

.v-ico{
	background-position: 0 -402px ;
	width: 13px;
	height: 12px;
}

.ball-ico{
	background-position: 0 -365px ;
	width: 15px;
	height: 15px;
}

.be-ico{
	background-position: 0 -301px ;
	width: 18px;
	height: 11px;
}

.fb-ico{
	background-position: 0 -336px ;
	width: 8px;
	height: 14px;
}

.globe-ico{
	background-position: 0 -174px ;
	width: 16px;
	height: 16px;
}

.mail-ico{
	background-position: 0 -267px ;
	width: 16px;
	height: 12px;
}

.quote-ico{
	background-position: 0 -142px ;
	width: 16px;
	height: 15px;
}

.radio-active{
	background-position: 0 -238px ;
	width: 9px;
	height: 8px;
}

.radio-passive{
	background-position: 0 -214px ;
	width: 9px;
	height: 8px;
}

.settings-ico{
	background-position: 0 -107px ;
	width: 16px;
	height: 16px;
}

.slider-nav-btn{
	background-position: 0 0;
	width: 35px;
	height: 35px;
}

